h1 {
  color: whitesmoke;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h2 {
  color: white;
  font-size: 15px;
  font-style: italic;
}
label {
  color: white;
  font-size: 20px;
}
body {
  background-color: rgb(124, 55, 214);
}
